<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<springProperty name="environment" source="md.environment"/>
	<springProperty name="serviceName" source="spring.application.name"/>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/zxrestapi/logs/application.log</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp/>
				<logLevel/>
				<threadName/>
				<message/>
				<loggerName/>
				<pattern>
					<pattern>
						{"serviceName":"${serviceName}",
						"environment":"${environment}"}
					</pattern>
				</pattern>
				<logstashMarkers/>
				<version/>
				<stackTrace>
					<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
						<maxDepthPerThrowable>256</maxDepthPerThrowable>
						<shortenedClassNameLength>20</shortenedClassNameLength>
						<exclude>io\.undertow\..*</exclude>
						<exclude>org\.springframework\.web\.filter\..*</exclude>
						<exclude>org\.springframework\.aop\..*</exclude>
						<exclude>sun\.reflect\..*\.invoke.*</exclude>
						<exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
						<rootCauseFirst>true</rootCauseFirst>
					</throwableConverter>
				</stackTrace>
				<mdc/>
				<tags/>
				<logLevelValue/>
			</providers>
			<jsonFactoryDecorator class="de.md.ms.logging.decorator.JsonFactoryLoggingDecorator"/>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/home/zxrestapi/logs/application.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>5</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<appender name="async_file" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="file" />
	</appender>

	<root level="INFO">
		<appender-ref ref="async_file"/>
	</root>
</configuration>
