OPEN_API_SCHEMA=./src/docs/api/api.yaml
EVENT_SCHEMA=./src/docs/event/event.json
SBOM_FILE=./src/.generated/sbom.json
JIRA_COMPONENT=ms-elasticupdate
JIRA_PROJECT=MCBS
NODE_VERSION=20.x
DEVELOPER_PORTAL_ID=
CLOVER_COVERAGE_FILE=./coverage/clover.xml
INCLUDED_COMPONENTS=ms-elasticupdate,Microservices,ABRMS (unspez.)
ATLASSIAN_DEVELOPER_TOOLS_VERSION=4.0.18
